@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap");

body {
  background-color: hsl(217, 10%, 25%);
}
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

p {
  margin: 20px;
  font-size: 3rem;
  color: #4ecca3;
  font-family: "Indie Flower", cursive;
}

#one,
#two {
  margin: 10px;
  font-size: 6rem;
  color: #bc1818;
  font-family: "Lobster", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

/* Style for the refresh button */
#refreshButton {
  background-color: #8732b1; /* Green background color */
  border: none; /* No border */
  color: white; /* White text color */
  padding: 10px 20px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* No underline */
  display: inline-block; /* Display as a block element */
  font-size: 2.5rem; /* Font size */
  margin-bottom: 20px; /* Margin at the bottom */
  cursor: pointer; /* Cursor style */
  font-family: sans-serif;
  transition: background-color 0.3s ease; /* Smooth transition */
  border-radius: 5px; /* Rounded corners */
}

/* Hover effect for the button */
#refreshButton:hover {
  background-color: #45a049; /* Darker green color on hover */
}
